doctype html
head
  title Chat
  meta(charset="UTF-8")
body
  h1 My Site
  div#chat(style="white-space:pre;")
  p BIENVENUE SUR LE CHAT DES VINKEUR
  input#message(type="text", placeholder="discute", maxlength="30")
  input#send(type="submit", value="send")
  input#hack(type="submit", value="hack")
  script(src="/socket.io/socket.io.js")
  script.
    var username = prompt('c koi ton blaze ?');
    document.getElementById('hack').addEventListener('click', function(){
    username = prompt('hack tout le monde et prends une fausse identite !!!');
    });
    var socket = io.connect('http://localhost:1337');
    socket.emit('nouvo', {'user': username} );
    socket.on('new_msg', function(msg){
    console.log(msg);
    var chat = document.getElementById('chat');
    var new_msg = msg.user + ' dit : ' + msg.text + '\n';
    var child = document.createElement('DIV');
    child.setAttribute('id', msg.user);
    child.innerHTML = child.innerHTML + new_msg;
    chat.appendChild(child);
    });
    socket.on('new_user', function(msg){
    var chat = document.getElementById('chat');
    var child = document.createElement('DIV');
    child.innerHTML = child.innerHTML + msg;
    chat.appendChild(child);
    });
    var send = document.getElementById('send');
    send.addEventListener('click', function(ev){
    var text = document.getElementById('message');
    var chat = document.getElementById('chat');
    if (text.value.length != 0)
      {
      console.log('message a envoyer plizz : ' + text.value);
      socket.emit('msg', {'text':text.value, 'user':username});
      var new_msg = username + ' dit : ' + text.value + '\n';
      var child = document.createElement('DIV');
      child.setAttribute('id', username);
      child.innerHTML = child.innerHTML + new_msg;
      chat.appendChild(child);
      text.value = "";
      }
    }, false);
