html
  head
    title site
  body
    p bienvnu su lsite
    ul#todo
    input#todo_text(type="text", placeholder="newTodo")
    input#new_todo(type="button", value='submit')
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io.connect('http://localhost:1337');
      socket.on('new_todo', function(data){
        var remove = document.getElementById('todo');
        remove.parentNode.removeChild(remove);
        var todo = document.createElement('UL');
        todo.setAttribute('id', 'todo');
        for(i = 0; i < data.todo.length; i++)
        {
          var child = document.createElement('LI');
          var text_child = document.createTextNode(data.todo[i]);
          child.appendChild(text_child);
          todo.appendChild(child);
        }
        document.body.appendChild(todo);
        });
      document.getElementById('new_todo').addEventListener('click', function(){
        var text = document.getElementById('todo_text').value;
        console.log(socket);
        if (typeof text != undefined)
        {
          var todo = document.getElementById('todo');
          console.log(todo);
          var todo_json = JSON.stringify(todo.innerHTML.replace(/\<\/li\>/g, '').split('<li>'));
          console.log(todo_json);
          console.log(todo);
          socket.emit('new_todo', {'text' : text, 'todo' : todo_json});
          var child = document.createElement('LI');
          var text_child = document.createTextNode(text);
          child.appendChild(text_child);
          todo.appendChild(child);
        }
      });
